In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://datosmacro.expansion.com/demografia/poblacion/espana?anio=2020"
response = requests.get(url)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the table element
    table = soup.find("table", {"id": "tb0"})

    # Extract table headers
    headers = [header.text.strip() for header in table.find_all("th")]

    # Extract table rows
    rows = []
    for row in table.find_all("tr")[1:]:  # Skip the header row
        cells = [cell.text.strip() for cell in row.find_all(["td", "th"])]
        rows.append(cells)

    # Create a DataFrame
    df = pd.DataFrame(rows, columns=headers)

    # Display the DataFrame
    display(df)
else:
    print("Failed to retrieve the webpage. Status code:", response.status_code)

             Fecha Densidad     Hombres     Mujeres   Población
0   Diciembre 2020       94  23.227.282  24.171.413  47.398.695
1       Junio 2020       94  23.208.782  24.146.903  47.355.685
2   Diciembre 2019       94  23.199.313  24.133.301  47.332.614
3       Junio 2019       93  23.091.898  24.013.460  47.105.358
4   Diciembre 2018       93  23.009.259  23.927.801  46.937.060
..             ...      ...         ...         ...         ...
95      Junio 1973       69  17.119.603  17.860.714  34.980.317
96  Diciembre 1972       69  17.027.972  17.772.628  34.800.600
97      Junio 1972       68  16.923.533  17.672.353  34.595.886
98  Diciembre 1971       68  16.827.942  17.580.397  34.408.338
99      Junio 1971       68  16.730.904  17.485.953  34.216.856

[100 rows x 5 columns]

In [5]:
df

             Fecha Densidad     Hombres     Mujeres   Población
0   Diciembre 2020       94  23.227.282  24.171.413  47.398.695
1       Junio 2020       94  23.208.782  24.146.903  47.355.685
2   Diciembre 2019       94  23.199.313  24.133.301  47.332.614
3       Junio 2019       93  23.091.898  24.013.460  47.105.358
4   Diciembre 2018       93  23.009.259  23.927.801  46.937.060
..             ...      ...         ...         ...         ...
95      Junio 1973       69  17.119.603  17.860.714  34.980.317
96  Diciembre 1972       69  17.027.972  17.772.628  34.800.600
97      Junio 1972       68  16.923.533  17.672.353  34.595.886
98  Diciembre 1971       68  16.827.942  17.580.397  34.408.338
99      Junio 1971       68  16.730.904  17.485.953  34.216.856

[100 rows x 5 columns]

In [3]:
df[['Mes', 'Año']] = df['Fecha'].str.split(' ', 1, expand=True)

# Drop the original 'Fecha' column if needed
df.drop('Fecha', axis=1, inplace=True)

# Convert 'Año' to integer
df['Año'] = df['Año'].astype(int)

# Reorganize columns
df = df[['Año', 'Mes', 'Densidad', 'Hombres', 'Mujeres', 'Población']]

display(df)

C:\Users\laiag\AppData\Local\Temp\ipykernel_16632\138616314.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['Mes', 'Año']] = df['Fecha'].str.split(' ', 1, expand=True)

     Año        Mes Densidad     Hombres     Mujeres   Población
0   2020  Diciembre       94  23.227.282  24.171.413  47.398.695
1   2020      Junio       94  23.208.782  24.146.903  47.355.685
2   2019  Diciembre       94  23.199.313  24.133.301  47.332.614
3   2019      Junio       93  23.091.898  24.013.460  47.105.358
4   2018  Diciembre       93  23.009.259  23.927.801  46.937.060
..   ...        ...      ...         ...         ...         ...
95  1973      Junio       69  17.119.603  17.860.714  34.980.317
96  1972  Diciembre       69  17.027.972  17.772.628  34.800.600
97  1972      Junio       68  16.923.533  17.672.353  34.595.886
98  1971  Diciembre       68  16.827.942  17.580.397  34.408.338
99  1971      Junio       68  16.730.904  17.485.953  34.216.856

[100 rows x 6 columns]